<div id="bg">
    <img src="images/simpleBG.jpg" alt="">
</div>
<div id="content">
    {{!-- <h2>This is our page title</h2>
    <p>Lorem ipsum dolor sit amet.</p> --}}
    <div class="container">
        <div class="">
            <div class="results-form-group">
                <div class="col-md-10 offset-md-1 col-xl-12 offset-xl-0">

                    <!-- First Card for Travel Details -->
                    <div class="card">
                        <a href="/" style="text-decoration: none; color:black">
                            <h5 class="card-header text-center shadow-md logoFont">
                                WHAT<span style="font-size: 25px">2</span>DO
                            </h5>
                        </a>
                        <div class="card">
                            <div class="btn-group btn-group-toggle">
                                <button class="btn btn-primary tabFont" type="button" data-target=".results-card"
                                    aria-expanded="false" aria-controls="resultsContent" id="goBack"> Results</button>
                            </div>

                        </div>

                    </div>
                    <div class="favorites-card card ">
                        <h5 class="card-header text-center shadow-md logoFont">Favorites</h5>
                        <div class="favorites scrollable" id="#favoritesContainer">
                            {{#each data}}
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 mt-3">
                                        <div class="card shadow-lg">
                                            <div class="row m-0">
                                                <div class="col-12 col-md-4 m-auto">
                                                    <img class="img-responsive m-auto" src={{favoriteImg}}>
                                                </div>
                                                <div class="col-12 col-md-8">
                                                    <div class="card-body">
                                                        <p class="card-text card-line">
                                                            <strong>{{favoriteTitle}}</strong></p>
                                                        <p class="card-text card-line">
                                                            <small>{{this.address}}</small></p>
                                                        <p class="card-text card-line">{{this.favoriteDestination}}
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="card-footer"><span><a class="card-text card-line"
                                                        href={{{favoriteUrl}}} target="_blank">Find more information
                                                        here</a></span>
                                                <button class="float-right btn-danger deleteFav" id="trashBtn{{@index}}"
                                                    value={{favoritesId}}>
                                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>

                    </div>
                </div>
            </div>{{!-- End of Where2 Form --}}
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/favorites.js"></script>