<div id="bg">
    <img src="images/resultsBG_Spain.jpg" alt="">
</div>

<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>


<div id="content">
    {{!-- <h2>This is our page title</h2>
    <p>Lorem ipsum dolor sit amet.</p> --}}
    <div class="container">
        <div class="">
            <div class="results-form-group">
                <div class="col-md-10 offset-md-1 col-xl-12 offset-xl-0">

                    <!-- First Card for Travel Details -->
                    <div class="card">
                        <a href="/" style="text-decoration: none; color:black">
                            <h5 class="card-header text-center shadow-md logoFont">
                                WHAT<span style="font-size: 25px">2</span>DO
                            </h5>
                        </a>
                        <div class="card">
                            <div class="btn-group btn-group-toggle">
                                <button class="btn btn-primary tabFont" type="button" data-target=".results-card"
                                    aria-expanded="false" aria-controls="resultsContent"> Results</button>
                                {{!-- <label class="btn btn-primary active tabFont" type="button" data-target=".results-card"
                                    aria-expanded="false" aria-controls="resultsContent">
                                    <input type="radio" name="options" id="resultsBtn" autocomplete="off" checked>
                                    Results
                                </label> --}}
                                {{#if user}}
                                <a href="/favorites" class="btn btn-primary tabFont">Favorites</a>
                                {{!-- <label class="btn btn-primary active tabFont" type="button"
                                    data-target="#resultsContent" aria-expanded="false" aria-controls="resultsContent">
                                    <input type="radio" name="options" id="itinerariesBtn" autocomplete="off" checked>
                                    Itineraries
                                </label> --}}
                                {{else}}
                                <label class="btn btn-primary active tabFont disabled" type="button"
                                    data-target=".favorites-card" aria-expanded="false" aria-controls="resultsContent"
                                    style="visibility: hidden">
                                    <input type="radio" name="options" id="favoritesBtn" autocomplete="off" checked>
                                    Favorites
                                </label>

                                {{!-- <label class="btn btn-primary active tabFont disabled" type="button"
                                    data-target="#resultsContent" aria-expanded="false" aria-controls="resultsContent"
                                    style="visibility: hidden">
                                    <input type="radio" name="options" id="itinerariesBtn" autocomplete="off" checked>
                                    Itineraries
                                </label> --}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Single Row for all the Search COLUMNS Dynamic to Screen Size -->
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="startDate">Start Date</span>
                                        </div>
                                        <input type="date" id="start" class="form-control" aria-label="small"
                                            aria-describedby="startDate">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="endDate">End Date</span>
                                        </div>
                                        <input type="date" id="end" class="form-control" placeholder=""
                                            aria-label="endDate" aria-describedby="endDate">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="destination">Destination</span>
                                        </div>
                                        <!-- Google Autocomplete Fillin Box -->
                                        <input type="text" class="form-control" id="locationAutocomplete"
                                            name="destination" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="tripRadius">Search Radius</span>
                                        </div>
                                        <input type="number" id="radius" class="form-control" placeholder=""
                                            aria-label="tripRadius" aria-describedby="tripRadius" min="10" max="100"
                                            step="10" value="10">
                                    </div>

                                </div>
                            </div>
                            <!-- Search Button for Travel Details-->
                            <div class="row">
                                <div class="col-6 text-left">
                                    <btn class="btn btn-primary" id="Search"><span>Search...</span></btn>
                                    <btn class="btn btn-primary" id="Console"><span>Console...</span></btn>
                                    <h6 class="mt-3 d-none text-danger" id="form-error-msgs">There are no results.
                                        Please
                                        try again.</h6>
                                </div>
                                <div class="col-6">
                                    <div class="text-left float-right mt-1" id="insertButton">
                                        {{#if user}}
                                        <a href="/logout" class="btn btn-secondary">Sign Out...</a>
                                        {{else}}
                                        <a href="/login?referrer=results" class="btn btn-secondary"
                                            id="login">Login...</a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>{{!-- End of Where2 Form --}}
        </div>
    </div>
</div>
{{!-- Results Content Tab --}}
<div id="content">
    <div id="results-container" class="container">
        <div class="col-md-10 offset-md-1 col-xl-12 offset-xl-0">
            <div id="accordion">
                <div class="results-card card">
                    <h5 class="card-header text-center shadow-md logoFont">Results<span style="font-size: 25px"></span>
                    </h5>
                    <div class="btn-group active btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary tabFont" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Events
                        </label>
                        <label class="btn btn-secondary tabFont" data-toggle="collapse" href="#collapseTwo"
                            role="button" aria-expanded="true" aria-controls="collapseTwo">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Restaurants
                        </label>

                    </div>

                    <div class="row">
                        {{!-- eventBriteAPI Cards --}}
                        <div class="col-12">
                            <div class="collapse scrollable show" id="collapseOne" data-parent="#accordion">
                                {{#if user}}
                                {{#each eventBriteData.eventBriteAPI._embedded.events}}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card shadow-lg">
                                                <div class="row m-0">
                                                    <div class="col-12 col-md-6 m-auto"><img
                                                            class="img-responsive m-auto" id="eventImg{{@index}}"
                                                            src={{{images.2.url}}}>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="card-body">
                                                            <p class="card-text card-line">
                                                                <strong id="eventName{{@index}}">{{name}}</strong></p>
                                                            <p class="card-text card-line">
                                                                <small id="eventAddress{{@index}}">{{_embedded.venues.0.name}}, {{_embedded.venues.0.address.line1}}, {{_embedded.venues.0.city.name}}</small></p>
                                                            <p class="card-text card-line" id="eventDate{{@index}}">
                                                                {{moment (concat dates.start.localDate dates.start.localTime) format="LLL"}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer"><span ><a
                                                            class="card-text card-line" id="eventURL{{@index}}" href={{{url}}}
                                                            target="_blank">Get tickets here</a></span>

                                                    <button class="float-right eventFavorites" id="favoriteBtn{{@index}}"
                                                        find="{{@index}}">
                                                        <i class="fas fa-heart" aria-hidden="true"></i>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                {{else}}
                                {{#each eventBriteData.eventBriteAPI._embedded.events}}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card shadow-lg">
                                                <div class="row m-0">
                                                    <div class="col-12 col-md-6 m-auto"><img
                                                            class="img-responsive m-auto" id="eventImg{{@index}}"
                                                            src={{{images.2.url}}}>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="card-body">
                                                            <p class="card-text card-line">
                                                                <strong id="eventName{{@index}}">{{name}}</strong></p>
                                                            <p class="card-text card-line">
                                                                <small id="eventAddress">{{_embedded.venues.0.name}},
                                                                    {{_embedded.venues.0.address.line1}}
                                                                    {{_embedded.venues.0.city.name}}</small></p>
                                                            <p class="card-text card-line" id="eventDate{{@index}}">
                                                                {{moment (concat dates.start.localDate dates.start.localTime) format="LLL"}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer"><span ><a
                                                            class="card-text card-line" id="eventURL{{@index}}" href={{{url}}}
                                                            target="_blank">Get tickets here</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                        {{!-- yelpAPIData Cards --}}
                        <div class="col-12">
                            <div class="collapse scrollable" id="collapseTwo" data-parent="#accordion">
                                {{#if user}}
                                {{#each yelpData.yelpAPIData}}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card shadow-lg">
                                                <div class="row m-0">
                                                    <div class="col-12 col-md-6 m-auto"><img
                                                            class="img-responsive m-auto" id="imgURL{{@index}}" src={{{image_url}}}>
                                                    </div>
                                                    <div class="ccol-12 col-md-6">
                                                        <div class="card-body">
                                                            <p class="card-text card-line">
                                                                <strong id="restaurantName{{@index}}">{{name}}</strong></p>
                                                            <p class="card-text card-line" id="restaurantAddress{{@index}}">
                                                                {{location.address1}} {{location.address2}},
                                                                {{location.city}}, {{location.state}}</p>
                                                            <p class="card-text card-line" id="phoneNum{{@index}}">
                                                                {{display_phone}} </p>
                                                            <p class="card-text card-line">
                                                                Price: {{price}} </p>
                                                            <p class="card-text card-line">
                                                                Rating: {{rating}} </p>
                                                            <p class="card-text card-line">
                                                                Number of reviews: {{review_count}} </p>
                                                            <p class="card-text card-line"><br>Categories:
                                                                {{#each categories}}
                                                                | {{title}}
                                                                {{/each}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer"><span><a class="card-text card-line" id="yelpURL{{@index}}"
                                                            href={{{url}}} target="_blank">View restaurant on Yelp</a></span>
                                                    <button class="float-right foodFavorites" id="favoriteBtn{{@index}}"
                                                        find="{{@index}}">
                                                        <i class="fas fa-heart" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                {{else}}
                                {{#each yelpData.yelpAPIData}}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card shadow-lg">
                                                <div class="row m-0">
                                                    <div class="col-12 col-md-6 m-auto"><img
                                                            class="img-responsive m-auto" src={{{image_url}}}>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="card-body">
                                                            <p class="card-text card-line">
                                                                <strong>{{name}}</strong></p>
                                                            <p class="card-text card-line">
                                                                {{location.address1}} {{location.address2}},
                                                                {{location.city}}, {{location.state}}</p>
                                                            <p class="card-text card-line">
                                                                {{display_phone}} </p>
                                                            <p class="card-text card-line">
                                                                Price: {{price}} </p>
                                                            <p class="card-text card-line">
                                                                Rating: {{rating}} </p>
                                                            <p class="card-text card-line">
                                                                Number of reviews: {{review_count}} </p>
                                                            <p class="card-text card-line"><br>Categories:
                                                                {{#each categories}}
                                                                | {{title}}
                                                                {{/each}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer"><span><a class="card-text card-line"
                                                            href={{{url}}} target="_blank">View restaurant on Yelp</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                        {{!-- zomatoAPIData Cards --}}
                        {{!-- <div class="col-12">
                            <div class="collapse scrollable" id="collapseTwo" data-parent="#accordion">
                                {{#each apiResults.zomatoAPIData}}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card shadow-lg">
                                                <div class="row m-0">
                                                    <div class="col-6 col-md-4 m-auto"><img
                                                            class="img-responsive m-auto" src={{{restaurant.featured_image}}}>
                                                    </div>
                                                    <div class="col-6 col-md-8">
                                                        <div class="card-body">
                                                            <p class="card-text card-line">
                                                                <strong>{{name}}</strong></p>
                                                            <p class="card-text card-line">
                                                                <small>{{location.address1}} {{location.address2}},
                                                                    {{location.city}}, {{location.state}}</small></p>
                                                            <p class="card-text card-line"><br>Categories:
                                                                {{#each categories}}
                                                                | {{title}}
                                                                {{/each}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer"><span><a class="card-text card-line"
                                                            href={{{url}}} target="_blank">Results from
                                                            Yelp</a></span>
                                                    <button class="float-right">
                                                        <i class="fas fa-heart" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>
                        </div> --}}
                    </div>

                </div>{{!-- Results end --}}
            </div>
        </div>
    </div>

    <div id="favorites-container" class="container">
        <div class="col-md-10 offset-md-1 col-xl-12 offset-xl-0">
            <div class="favorites-card card">
                <h5 class="card-header text-center shadow-md logoFont">Favorites<span style="font-size: 25px"></span>
                </h5>
                <div class="row">
                    <div class="col-12">
                        <div class="collapse " id="favoritesContent" data-parent="#accordion">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad
                                squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {{!-- Content end --}}



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/results.js"></script>