<div id="bg">
    <img src="/images/resultsBG_spain.jpg" alt="">
</div>

<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>


<div id="content">
    {{!-- <h2>This is our page title</h2>
    <p>Lorem ipsum dolor sit amet.</p> --}}
    <div class="container">
        <div class="">
            <div class="results-form-group">
                <div class="col-md-10 offset-md-1 col-xl-12 offset-xl-0">

                    <!-- First Card for Travel Details -->
                    <div class="card">
                        <a href="/" style="text-decoration: none; color:black">
                            <h5 class="card-header text-center shadow-md logoFont">WHERE<span
                                    style="font-size: 25px">2</span>
                            </h5>
                        </a>
                        <div class="card">
                            <div class="btn-group btn-group-toggle">
                                <label class="btn btn-primary active tabFont" type="button" data-target=".results-card"
                                    aria-expanded="false" aria-controls="resultsContent">
                                    <input type="radio" name="options" id="resultsBtn" autocomplete="off" checked>
                                    Results
                                </label>
                                {{#if user}}
                                <label class="btn btn-primary active tabFont " type="button"
                                    data-target=".favorites-card" aria-expanded="false" aria-controls="resultsContent">
                                    <input type="radio" name="options" id="favoritesBtn" autocomplete="off" checked>
                                    Favorites
                                </label>
                                <label class="btn btn-primary active tabFont" type="button"
                                    data-target="#resultsContent" aria-expanded="false" aria-controls="resultsContent">
                                    <input type="radio" name="options" id="itinerariesBtn" autocomplete="off" checked>
                                    Itineraries
                                </label>
                                {{else}}
                                <label class="btn btn-primary active tabFont disabled" type="button"
                                    data-target=".favorites-card" aria-expanded="false" aria-controls="resultsContent"
                                    style="visibility: hidden">
                                    <input type="radio" name="options" id="favoritesBtn" autocomplete="off" checked>
                                    Favorites
                                </label>
                                <label class="btn btn-primary active tabFont disabled" type="button"
                                    data-target="#resultsContent" aria-expanded="false" aria-controls="resultsContent"
                                    style="visibility: hidden">
                                    <input type="radio" name="options" id="itinerariesBtn" autocomplete="off" checked>
                                    Itineraries
                                </label>
                                {{/if}}
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Single Row for all the Search COLUMNS Dynamic to Screen Size -->
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="startDate">Start Date</span>
                                        </div>
                                        <input type="date" id="start" class="form-control" aria-label="small"
                                            aria-describedby="startDate">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="endDate">End Date</span>
                                        </div>
                                        <input type="date" id="end" class="form-control" placeholder=""
                                            aria-label="endDate" aria-describedby="endDate">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="destination">Destination</span>
                                        </div>
                                        <!-- Google Autocomplete Fillin Box -->
                                        <input type="text" class="form-control" id="locationAutocomplete"
                                            name=trip-destination />
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="tripRadius">Search Radius</span>
                                        </div>
                                        <input type="number" id="radius" class="form-control" placeholder=""
                                            aria-label="tripRadius" aria-describedby="tripRadius" min="10" max="100"
                                            step="10" value="10">
                                    </div>

                                </div>
                            </div>
                            <!-- Search Button for Travel Details-->
                            <div class="row">
                                <div class="col-6 text-left">
                                    <a id="errorNoScroll" href="/results">
                                        <btn class="btn btn-primary" id="Search"><span>Search...</span></btn>
                                    </a>
                                    <h6 class="mt-3 d-none text-danger" id="form-error-msgs">There are no results.
                                        Please
                                        try again.</h6>
                                </div>
                                <div class="col-6">
                                    <div class="text-left float-right mt-1" id="insertButton">
                                        {{#if user}}
                                        <a href="/logout" class="btn btn-secondary">Sign Out...</a>
                                        {{else}}
                                        <a href="/login?referrer=results" class="btn btn-secondary" id="login">Login...</a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>{{!-- End of Where2 Form --}}
        </div>
    </div>
</div>
{{!-- Results Content Tab --}}
<div id="content">
    <div id="results-container" class="container">
        <div class="col-md-10 offset-md-1 col-xl-12 offset-xl-0">
            <div id="accordion">
                <div class="results-card card">
                    <h5 class="card-header text-center shadow-md logoFont">Results<span style="font-size: 25px"></span>
                    </h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active tabFont" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Events
                        </label>
                        <label class="btn btn-secondary tabFont" data-toggle="collapse" href="#collapseTwo"
                            role="button" aria-expanded="false" aria-controls="collapseTwo">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Restaurants
                        </label>

                    </div>
                    <div class="row">

                        <div class="col-12">
                            <div class="collapse scrollable" id="collapseOne" data-parent="#accordion">
                                {{!-- {{#each events}} --}}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card shadow-lg">
                                                <div class="row m-0">
                                                    <div class="col-6 col-md-4 m-auto"><img
                                                            class="img-responsive m-auto" src={{{eventImg}}}>
                                                    </div>
                                                    <div class="col-6 col-md-8">
                                                        <div class="card-body">
                                                            <p class="card-text card-line">
                                                                <strong>{{eventName}}</strong></p>
                                                            <p class="card-text card-line">
                                                                <small>{{eventAddress}}</small></p>
                                                            <p class="card-text card-line">{{eventDate}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer"><span><a class="card-text card-line"
                                                            href={{{eventURL}}}s target="_blank">Results from
                                                            EventBrite</a></span>
                                                    <span class="float-right"><i class="fas fa-heart"
                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- {{/each}} --}}
                                {{!-- Card Example without handlebars --}}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card shadow-lg">
                                                <div class="row m-0">
                                                    <div class="col-6 col-md-4 m-auto"><img
                                                            class="img-responsive m-auto"
                                                            src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F57073564%2F189433837126%2F1%2Foriginal.jpg?h=200&amp;w=450&amp;auto=compress&amp;rect=0%2C208%2C2400%2C1200&amp;s=6fe732e2018657615ca37e702b14378c">
                                                    </div>
                                                    <div class="col-6 col-md-8">
                                                        <div class="card-body">
                                                            <p class="card-text card-line"><strong>2019 UW Medical
                                                                    Center CNA/MA Job Fair &amp; Open House</strong></p>
                                                            <p class="card-text card-line"><small>1601 Northeast
                                                                    Columbia Road, Seattle, WA</small></p>
                                                            <p class="card-text card-line">2019-09-21T10:00:00</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer"><span><a class="card-text card-line"
                                                            href="https://www.eventbrite.com/e/2019-uw-medical-center-cnama-job-fair-open-house-tickets-56937561780?aff=ebapi"
                                                            target="_blank">Results from EventBrite</a></span><span
                                                        class="float-right"><i class="fas fa-heart"
                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="collapse" id="collapseTwo" data-parent="#accordion">
                                {{!-- {{#each events}} --}}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card shadow-lg">
                                                <div class="row m-0">
                                                    <div class="col-6 col-md-4 m-auto"><img
                                                            class="img-responsive m-auto" src={{{eventImg}}}>
                                                    </div>
                                                    <div class="col-6 col-md-8">
                                                        <div class="card-body">
                                                            <p class="card-text card-line">
                                                                <strong>{{eventName}}</strong></p>
                                                            <p class="card-text card-line">
                                                                <small>{{eventAddress}}</small></p>
                                                            <p class="card-text card-line">{{eventDate}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer"><span><a class="card-text card-line"
                                                            href={{{eventURL}}}s target="_blank">Results from
                                                            EventBrite</a></span>
                                                    <button class="float-right">
                                                        <i class="fas fa-heart" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- {{/each}} --}}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card shadow-lg">
                                                <div class="row m-0">
                                                    <div class="col-6 col-md-4 m-auto"><img
                                                            class="img-responsive m-auto"
                                                            src="https://s3-media3.fl.yelpcdn.com/bphoto/ijju-wYoRAxWjHPTCxyQGQ/o.jpg">
                                                    </div>
                                                    <div class="col-6 col-md-8">
                                                        <div class="card-body">
                                                            <p class="card-text card-line"><strong>Pike Place
                                                                    Chowder</strong></p>
                                                            <p class="card-text card-line"><small>1530 Post Aly Ste 11 ;
                                                                    Seattle, WA, US, 98101</small></p>
                                                            <p class="card-text card-line">(206) 267-2537</p>
                                                            <p class="card-text card-line">Price: $$</p>
                                                            <p class="card-text card-line">Rating: 4.5</p>
                                                            <p class="card-text card-line">Review Count: 6982</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer"><span><a class="card-text card-line"
                                                            href="https://www.yelp.com/biz/pike-place-chowder-seattle?adjust_creative=a-3qMSAYr-UOyyiwumVX_A&amp;utm_campaign=yelp_api_v3&amp;utm_medium=api_v3_business_search&amp;utm_source=a-3qMSAYr-UOyyiwumVX_A"
                                                            target="_blank">Results from Yelp</a></span>
                                                   <button class="float-right">
                                                        <i class="fas fa-heart" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>{{!-- Results end --}}
            </div>
        </div>
    </div>

    <div id="favorites-container" class="container">
        <div class="col-md-10 offset-md-1 col-xl-12 offset-xl-0">
            <div class="favorites-card card">
                <h5 class="card-header text-center shadow-md logoFont">Favorites<span style="font-size: 25px"></span>
                </h5>
                <div class="row">
                    <div class="col-12">
                        <div class="collapse " id="favoritesContent" data-parent="#accordion">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad
                                squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="itineraries-container" class="container">
        <div class="col-md-10 offset-md-1 col-xl-12 offset-xl-0">
            <div class="favorites-card card">
                <h5 class="card-header text-center shadow-md logoFont">Itineraries<span style="font-size: 25px"></span>
                </h5>
                <div class="row">
                    <div class="col-12">
                        <div class="collapse " id="itinerariesContent" data-parent="#accordion">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad
                                squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {{!-- Content end --}}
{{!-- <div class="container" id="contentDetails">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xl-12 offset-xl-0">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="accordion" id="accordionExample">
                            <!-- Card for Event Results -->
                            <div class="card shadow-md" id="event-results-card">
                                <!-- Card Header is also a Button to Collapse the Card -->
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0 text-center">
                                        <button class="btn btn-link cardFont" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Events
                                        </button>
                                    </h2>
                                </div>
                                <!-- This is the Collapse Content that is Hidden -->
                                <div id="collapseOne" class="collapse scrollable" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">

                                </div>
                            </div>
                            <!-- Card for Restaurant Results -->
                            <div class="card shadow-md" id="restaurants-results-card">
                                <!-- Card Header is also a Button to Collapse the Card -->
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0 text-center">
                                        <button class="btn btn-link collapsed cardFont" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            Restaurants
                                        </button>
                                    </h2>
                                </div>
                                <!-- This is the Collapse Content that is Hidden -->
                                <div id="collapseTwo" class="collapse scrollable" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div id="yelp-data-wrapper"></div>
                                        <div id="geocode-location-details"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/results.js"></script>
<script src="/js/where2.js"></script>